body {
   margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5D2D2;
}

h1 {
  color: black;
  margin: 0;
  padding-top: 20px;
  animation: lika 6s linear;
}

.heart {
display: inline-block;
animation: heartBeat 1.2s ease-in-out infinite;
}
@keyframes heartBeat {
0% { transform: scale(1); }
30% { transform: scale(1.3); }
50% { transform: scale(1); }
80% { transform: scale(1.3); }
100% { transform: scale(1); }
}

@keyframes lika {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


  @media (max-width: 393px) {
h1 {
font-size: 2.5rem;
text-align: center;
padding: 0 20px;
}
